<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dddinaction.adapter.repository.organization.mapper.OrganizationMapper">

    <resultMap id="OrganizationDOMap"
               type="com.example.dddinaction.adapter.repository.organization.dataobject.OrganizationDO">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="suprior_id" property="superiorId"/>
        <result column="org_type_code" property="orgTypeCode"/>
        <result column="leader_id" property="leaderId"/>
        <result column="name" property="name"/>
        <result column="status_code" property="orgStatusCode"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_at" property="lastedUpdatedAt"/>
        <result column="last_updated_by" property="lastedUpdatedBy"/>
    </resultMap>


    <select id="findByIdAndStatus"  resultMap="OrganizationDOMap">
        select * from org;
    </select>

</mapper>
